{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ header }}</h2>

    <ul>
        {% if listings|length > 0 %}
        {% for item in listings %}
            <li class="card mb-3">
                <a href="{% url 'item' item.id %}">
                <div class="row g-0">
                    <img src='{{ item.image.url }}' class="img-fluid rounded-start" width="200px">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> {{item.title }}</h5>
                            <p class="card-text"><b>Price:</b> ${{item.current_price}}</p>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text"><small class="text-body-secondary" style="color: grey;"> created at: {{item.created_at}}</small></p>
                        </div>
                    </div>
                </div>
                </a>
            </li>
        {% endfor %}
        {% else %}
            <h3>No items Found </h3>
        {%endif%}
    </ul>
{% endblock %}